
html, body {
    padding: 0px;
    margin: 0px;  
}

#root  {
    display: flex;
    height: 100vw;
}


.nav__box {
    background-color: lightblue;
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
}

.logIn__btn {
    text-align: center;
    border: solid 2px;
    border-color: blue;
    padding: 4px;
    margin: 0;
}

.logIn__btn:hover {
    cursor: pointer;
    background: blue;
}

h2 {
    margin: 0px;
}


.box__wrapper {
    text-align: center;
    padding-top: 100px;
    margin: 0;
    width: 100%;
    font-size: 1em;
}

.theme__button {
    height: 30px;
    width: 30px;
    display: inline-block;
    border-top: 15px solid var(--theme-primary);
    border-bottom: 15px solid var(--theme-secondary);
    border-right: 0;
    border-left: 0;
    padding: 0;
    box-shadow: 0 0 3px gray;}

.theme__button:hover {
    border-bottom: 15px solid var(--theme-primary);
}